//$color-main: #F36C21;
//$colorCard: #F36C21;
//$colorHov: #AC450B;
//$btnTransparentCol: #f36c211a;
//$colorBackSlider: #f36c211a;
//$color-main-hov: #AC450B;

$color-main: #159822;
$colorCard: #009b3e;
$colorHov: #287231;
$btnTransparentCol: #009b3e1a;
$colorBackSlider: #009b3e1a;
$color-main-hov: #106e19;

$color-green: #159822;
$border-grey: 1px solid #d1d1d1;
$line-grey-col: 1px solid #c4c4c4;
$block-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
$colorCardProd: #393d38;
$colorCardGrey: #8a8a8a;
$borderForm: 1px solid $colorCardGrey;

// SL variable
$colorWhite: #ffffff;
$borderGreen: 1px solid $colorCard;
$colorHoverButton: #008239;